<!DOCTYPE html>
<html layout:decorate="~{frontend/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Service</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="jumbotron jumbotron-fluid">
			<div class="container-fluid">
				<h1 class="display-4">Service</h1>
				<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, iste ut officia similique harum quo voluptates sint fugiat, nesciunt laborum laboriosam magni delectus omnis eaque quasi fuga corrupti numquam mollitia!</p>
			</div>
		</div>
		<div class="container-fluid">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, facilis deleniti quasi nisi laborum, sit aperiam recusandae facere ad tempore nobis amet quis commodi. Quia similique harum aliquam porro labore hic a itaque accusantium dicta tempora enim doloremque minima dignissimos iure ex quasi omnis quos, fugiat recusandae incidunt exercitationem earum corporis. Fugiat cumque enim excepturi dolores vero! Modi, aperiam saepe. Laborum exercitationem expedita similique eos sit delectus, minus fuga laboriosam cumque tempora veritatis iure nam, sapiente asperiores in distinctio quod nemo eaque voluptates dignissimos ut quibusdam! Distinctio beatae voluptatum amet officiis eum odio itaque numquam, laudantium quia et sint tenetur.</p>
		</div>	
	</div>
</body>
</html>